body {
  align-items: center;
  background: #000;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-350px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-350px * 7));
  }
}
.slider {
  background: #000;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 2rem;
}

.slide-track {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  margin-top: 5rem;
}

.slider h2 {
  z-index: 999;
  color: #fff;
  font-size: 2rem;
  text-align: start;
  margin-left: 1.5rem;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  justify-content: space-between;
  width: calc(250px * 14);
}

.slider .slide {
  height: 500px;
  width: 500px;
}
